<div id="post_content">
	<h1><%= @post.title %></h1>
	<p>Votes: <%= @post.get_upvotes.size - @post.get_downvotes.size %></p>
	<div class="content">
		<p><%= markdown @post.content %></p>
	</div>
	
	<% if current_user == @post.user %>
		<%= link_to 'Edit Post', edit_post_path(@post) %>
		<%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete your post?" } %>
	<% end %>

	<div class="btn-group pull-right">
		<%= link_to like_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-up"></span>
			Upvote
			<%= @post.get_upvotes.size %>
		<% end %>
		<%= link_to dislike_post_path(@post), method: :put, class: "btn btn-default btn-sm" do %>
			<span class="glyphicon glyphicon-chevron-down"></span>
			Downvote
			<%= @post.get_downvotes.size %>
		<% end %>
	</div>
</div>

<div id="comments">
	<h2><%= @post.comments.count%> Comments</h2>
		<% @post.comments.each do |f| %>
		Votes: <%= f.get_upvotes.size - f.get_downvotes.size %>
			<%= f.comment %> <br>
				<div class="btn-group pull-right">
					<%= link_to like_post_comment_path(@post, f), method: :put, class: "btn btn-default btn-sm" do %>
						<span class="glyphicon glyphicon-chevron-up"></span>
						Upvote
						<%= f.get_upvotes.size %>
					<% end %>
					<%= link_to dislike_post_comment_path(@post, f), method: :put, class: "btn btn-default btn-sm" do %>
						<span class="glyphicon glyphicon-chevron-down"></span>
						Downvote
						<%= f.get_downvotes.size %>
					<% end %>
				</div>  <br>
		<% end %>	
		<h3>Reply to thread</h3>
	<%= render "comments/form" %>
</div>