<!DOCTYPE html>
<html>
<head>
  <title>NYCDA Overflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "logo.png" %>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
  <div id="nav_wrapper">
  	<nav class="clearfix">
      <div id="nav_logo">
        <%= link_to "NYCDA Overflow", root_path %>
      </div>
  		<div id="nav_button">
        <% if user_signed_in? %>
          <%= link_to "New Post", new_post_path %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
  	</nav>

  </div>

  <div id="body_wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
